<form method="post" action="{{ path('line_order_delete', {'id': line_order.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ line_order.id) }}">
    <button class="btn">Delete</button>
</form>
