{% extends 'base.html.twig' %}

{% block title %}New LineOrder{% endblock %}

{% block body %}
    <h1>Create new LineOrder</h1>

    {{ include('line_order/_form.html.twig') }}

    <a href="{{ path('line_order_index') }}">back to list</a>
{% endblock %}
